@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Montserrat:wght@400;500;600;700&family=Roboto+Mono&family=Titillium+Web:wght@200&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

html {
  font-size: 62.5%;
}

.nav-bar {
  display: flex;
  align-items: center;
  background-color: rgb(110, 110, 110);
  padding-bottom: 2%;
}

 .nav-bar .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 2%;
  margin-top: 1.5%;
  cursor: pointer;
}

.nav-bar .logo .header-nav {
  font-size: 7rem;
  color: white;
}

.nav-bar .logo span {
  color: #BAFF39;
}

.nav-bar .logo .slogan {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.8rem;
}

.nav-links {
  width: 100%;
}

.nav-links ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end; 
  align-items: center;
  margin-top: 2%;
  gap: 5%;
  margin-right: 2%;
  }

.nav-link {
  color: white;
  font-size: 3.1rem;
  cursor: pointer;
}

.nav-link:hover {
  color:  #BAFF39;
}

button.btn-nav {
  color: black;
  background-color:  #BAFF39;
  font-size: 1.7rem;
  padding: 19px 32px;
  border: none;
  cursor: pointer;
}

button.btn-nav:hover {
  background-color: white;
}

.top {
  display: flex;
  flex-direction: column;
  background-color: rgb(110, 110, 110);
}

.top img {
  width: 70%;
  filter: saturate(20%);
  align-self: flex-end;
  margin-right: 1.5%;
}

.top .header-top {
  font-size: 6vw;
  color: white;
  position: absolute;
  margin-top: 11%;
  margin-left: 10%;
  opacity: 0;
  transform: translateY(75px);
  animation: fadeTop 1.7s ease forwards;
  animation-delay: 0.7s;
}

button.btn-top {
  font-family: "Eina", Helvetica, Arial, sans-serif;
  font-weight: 550;
  background-color: #BAFF39;
  font-size: 1.4rem;
  padding: 15px 26px;
  position: absolute;
  border: none;
  margin-left: 18%;
  margin-top: 27%;
  cursor: pointer;
  transform: translateY(70px);
  opacity: 0;
  animation: fadeTop 1.7s ease forwards;
  animation-delay: 1.7s;
}

button.btn-top:hover {
  background-color: white;
}

@media (max-width: 900px) {
  .nav-bar .logo .header-nav {
  font-size: 6rem;
  color: white;
}

  .nav-bar .logo .slogan {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.4rem;
}
  
  .top {
    align-items: center;
    justify-content: center;
  }

  .top img {
    width: 100%;
    height: 50vh;
    align-self: center;
    object-fit: cover;
    margin-right: 0;
  }

  .top .header-top {
  font-size: 6rem;
  color: white;
  position: absolute;
  justify-self: center;
  margin-left: 0;
  margin-top: 0;
  text-align: center;
}

  button.btn-top {
  margin-left: 0;
    margin-top: 220px;
}
  
}

@media (max-width: 650px) {
  .top .header-top {
    font-size: 4.5rem;
  }

   button.btn-top {
   font-size: 1rem;
   padding: 10px 20px;
   margin-top: 20vh;
}
}

@media (max-width: 450px) {
  button.btn-top {
    margin-top: 30vh;
  }
}

@media (max-width: 400px) {
  .top .header-top {
    font-size: 11vw;
  }
}

.plans {
  background-color: rgb(110, 110, 110);
  padding-top: 23vh;
  padding-bottom: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plans .header-plans.reveal {
  font-size: 6vw;
  color: white;
  text-align: center;
  opacity: 0;
  transform: translateY(70px);
  transition: 1.5s all ease;
}

@media (max-width: 975px) {
  .plans .header-plans.reveal {
    font-size: 6rem;
  }
}

@media (max-width: 650px) {
.plans .header-plans.reveal {
    font-size: 4.5rem;
}
}

@media (max-width: 400px) {
.plans .header-plans.reveal {
    font-size: 12vw;
}
}

.header-plans.reveal.active {
  opacity: 1;
  transform: translateY(0px);
}

@media (max-width: 900px) {
  .plans {
    padding-top: 15vh;
  }
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
    margin-top: 10vh;
}

.owl.carousel {
  background-color: rgb(110, 110, 110);
  
}

.owl-carousel .item {
  display: flex;
  justify-content: center;
}

.owl-carousel .item .grey {
  height: 380px;
  width: 20%;
  background-color: rgb(110, 110, 110);
}

.owl-carousel .item .dark-grey.reveal {
  height: 380px;
  width: 60%;
  background-color:  #303030;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(70px);
  transition: 0.5s ease all;
}

.owl-carousel .item .dark-grey.reveal.active {
  opacity: 1;
  transform: translateY(0px);
}

 h3.header-different-plans {
  font-size: 5rem;
  color: #BAFF39;
  margin-top: 40px;
  margin-left: 45px;
}

.para-different-plans {
  font-size: 2rem;
  color: white;
  font-weight: 200;
  width: 85%;
  margin-left: 45px;
  margin-top: 30px;
  font-family: "Eina", Helvetica, Arial, sans-serif;
}

.para-costs {
  font-size: 3.5rem;
  color: white;
  margin-left: 45px;
  margin-top: 30px;
}

.para-costs span {
  color: #BAFF39;
  font-size: 3.5rem;
}

button.btn-plans {
  font-size: 1.6rem;
  color: black;
  background: #BAFF39;
  padding: 15px 13px;
  width: 150px;
  border: none;
  cursor: pointer;
  margin-left: 45px;
  margin-top: 30px;
}

button.btn-plans:hover {
  background-color: white;
  transition: 0.3s;
}

@media (max-width: 1350px) {
  .owl-carousel .item .dark-grey.reveal {
  width: 80%;
}

  .owl-carousel .item .grey {
  width: 10%;
}
}

@media (max-width: 900px) {
.owl-carousel .item .dark-grey.reveal {
    align-items: center;
}
  
   h3.header-different-plans,
.para-different-plans,
.para-costs,
.para-costs span,
button.btn-plans {
margin-left: 0;
  text-align: center;
}

  .para-different-plans {
    width: 95%;
  }
}

@media (max-width: 750px) {
  .owl-carousel .item .grey {
    width: 4%;
}

.owl-carousel .item .dark-grey.reveal {
width: 92%;
}
}

@media (max-width: 525px) {
  h3.header-different-plans {
    font-size: 4rem;
  }

  .para-costs,
  .para-costs span {
    font-size: 3.2rem;
  }

  button.btn-plans {
    padding: 12px 10px;
    font-size: 1.4rem;
  }
}

@media (max-width: 416px) {
 h3.header-different-plans,
.para-different-plans,
.para-costs,
.para-costs span,
button.btn-plans {
  margin-top: 25px;
}
}

@media (max-width: 370px) {
   h3.header-different-plans {
     font-size: 3.9rem;
   }
}

@media (max-width: 336px) {
.para-different-plans,
.para-costs,
.para-costs span,
button.btn-plans {
  margin-top: 15px;
}
}

@media (max-width: 327px) {
  h3.header-different-plans {
    margin-top: 15px;
  }
}

.owl-theme .owl-nav {
    margin-top: 10px;
    display: none;
}

.owl-dots {
    position: absolute;
    width: 100%;
}

.owl-theme .owl-dots .owl-dot span {
    width: 27px !important;
    height: 10px;
    margin: 5px 7px;
    background: #c6f273 !important;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #BAFF39 !important;
}

.curriculum {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #303030;
  padding-bottom: 9vh;
}

.header-curriculum {
  font-size: 10.5rem;
  color: white;
  text-align: center;
}

.header-curriculum span {
  color: #BAFF39;
}

.container-curriculum-one,
.container-curriculum {
  display: flex;
  justify-content; center;
  gap: 8%;
  margin-top: 170px;
}

.container-curriculum-one {
  margin-top: -50px;
}

.container-individual-curriculum-one.reveal,
.container-individual-curriculum.reveal {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 40vw;
  opacity: 0;
  transform: translateY(70px);
  transition: 0.5s all ease;
}

.container-individual-curriculum-one.reveal.active,
.container-individual-curriculum.reveal.active {
  opacity: 1;
  transform: translateY(0px);
}

.container-individual-curriculum-one {
  margin-top: -90px;
}

.container-individual-curriculum-one img,
.container-individual-curriculum img {
  filter: grayscale(100%);
 -webkit-filter: grayscale(100%);
  width: 100%;
  border-radius: 2%;
}

.header-individual-curriculum {
  color: #BAFF39;
  font-size: 3.2rem;
  text-align: center;
}

.para-individual-curriculum {
  color: white;
  font-size: 2rem;
      font-family: "Eina", Helvetica, Arial, sans-serif;
}

@media (max-width: 900px) {
.container-curriculum-one,
.container-curriculum {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.container-individual-curriculum-one.reveal,
.container-individual-curriculum.reveal {
  width: 92vw;
  align-items: center;
}

.container-individual-curriculum-one.reveal img,
.container-individual-curriculum.reveal img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.container-curriculum {
  margin-top: 130px;
}

  .para-individual-curriculum {
  text-align: center;
}
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15vh 0;
  background-color: rgb(110, 110, 110);
}

.header-reviews.reveal {
    font-size: 7rem;
    color: white;
    text-align: center;
    opacity: 0;
    transform: translateY(70px);
}

@media (max-width: 900px) {
  .header-reviews.reveal {
    font-size: 6rem;
  }
}

@media (max-width: 650px) {
  .header-reviews.reveal {
    font-size: 4.5rem;
    margin-bottom: -40px;
  }
}

@media (max-width: 400px) {
  .header-reviews.reveal {
    font-size: 11vw; 
  }
}

.header-reviews.reveal.active {
  animation: 1.7s fadeTop ease forwards;
}

.header-reviews span {
  color: #BAFF39;
}

.item-top {
  height: 90px;
  background-color: rgb(110, 110, 110);
}

.item-bottom {
  display: flex;
}

.grey-two {
  width: 15%;
  background-color: rgb(110, 110, 110);
  height: 400px;
}

.dark-grey-two.reveal {
  width: 70%;
  background-color: #303030;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(70px);
  transition: 0.5s ease all;
}

.dark-grey-two.reveal.active {
  opacity: 1;
  transform: translateY(0px);
}

.owl-carousel .owl-item img {
  display: block;
  width: 21vh !important;
  border-radius: 50%;
  margin-top: -90px;
}

.para-reviews {
    font-size: 2.7rem;
    color: white;
    text-align: center;
    line-height: 43px;
    width: 92%;
    margin-top: 30px;
}

.para-reviewer {
  font-size: 2.1rem;
  color: white;
  margin-top: 40px;
  text-align: center;
}

@media (max-width: 1319px) {
  .para-reviews {
    font-size: 2.3rem;
  }
}

@media (max-width: 1126px) {
  .para-reviewer {
    margin-top: 20px;
  }

  .owl-carousel .owl-item img {
    width: 19vh !important;
}
}

@media (max-width: 939px) {
  .para-reviews {
    font-size: 2.1rem;
  }
  .owl-carousel .owl-item img {
    width: 17vh !important;
    margin-top: -75px;
}  

  .para-reviewer {
  font-size: 1.9rem;
}
}

@media (max-width: 859px) {
  .grey-two {
  width: 2.5%;
}

.dark-grey-two.reveal {
  width: 95%;
}
}

@media (max-width: 630px) {
    .para-reviews {
    font-size: 1.9rem;
      line-height: 40px;
  }

  .para-reviewer {
  font-size: 1.7rem;
}
}

@media (max-width: 484px) {
      .para-reviews {
    font-size: 1.75rem;
      line-height: 38px;
        margin-top: 10px;
  }

  .para-reviewer {
  font-size: 1.55rem;
}
}

@media (max-width: 380px) {
  .para-reviews {
  font-size: 1.7rem;
  line-height: 32px;
  }

  .para-reviewer {
  font-size: 1.5rem;
}
}

@media (max-width: 340px) {
  .para-reviews {
  font-size: 1.62rem;
  }

  .para-reviewer {
  font-size: 1.42rem;
}
}

.reason {
  display: flex;
  flex-direction: column;
  background-color: #303030;
  padding: 18vh 0;
}

.header-reason.reveal {
  color: white;
  font-size: 6rem;
  margin-bottom: 40px;
  text-align: center;
  opacity: 0;
  transform: translateY(70px);
  transition: 1.5s all ease;
}

.header-reason.reveal.active {
  opacity: 1;
  transform: translateY(0px);
}

.header-reason span {
  color: #BAFF39;
}

.reasons.reveal,
.reasons-two.reveal,
.reasons-three.reveal{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 75px;
  opacity: 0;
  transform: translateY(30px);
  transition: 1s all ease;
}

.reasons.reveal.active,
.reasons-two.reveal.active,
.reasons-three.reveal.active {
  opacity: 1;
  transform: translateY(0px);
}

.number-reasons {
  color: #BAFF39;
    font-size: 110px;
    line-height: 90px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #BAFF39;
}

.para-reasons {
  color: white;
  font-size: 2.7rem;
  width: 800px;
}

@media (max-width: 1100px) {
 .header-reason.reveal {
   font-size: 4.5rem;
   margin-bottom: 20px;
   margin-top: 50px;
 }
  
  .para-reasons {
  color: white;
  font-size: 2.3rem;
  width: 80%;
 }
  
  .number-reasons {
    font-size: 90px;
}
}

@media (max-width: 800px) {
  .reason {
    padding: 10vh 0;
  }

  .para-reasons {
  font-size: 2rem;
 }

 .number-reasons {
 font-size: 60px;
}

  .reasons.reveal,
  .reasons-two.reveal
  .reasons-three.reveal {
    margin-top: 30px;
  }
}

.ready {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
}

.ready img {
  top:0;
  left:0;
  width:100%;
  height: 70vh;
  object-fit: cover;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.72);
  width:100%;
  height: 70vh;
}

.header-ready.reveal {
  font-size: 8rem;
  color: white;
  position: absolute;
  text-align: center;
  opacity: 0;
  transform: translateY(70px);
  transition: 1.5s all ease;
}

.header-ready.reveal.active {
  opacity: 1;
  transform: translateY(0px);
}

.header-ready span {
  color: #BAFF39;
}

@media (max-width: 1300px) {
  .header-ready.reveal {
    font-size: 6.5rem;
  }
}

.btn-ready.reveal {
  background-color: #BAFF39;
  font-size: 1.4rem;
  padding: 15px 32px;
  position: absolute;
  margin-top: 190px;
  border: none;
  opacity: 0;
  transform: translateY(70px);
  transition: 1.5s all ease;
  cursor: pointer;
}

.btn-ready.reveal:hover {
  background-color: white;
}

.btn-ready.reveal.active {
  opacity: 1;
  transform: translateY(0px);
}

@media (max-width: 820px) {
  .header-ready.reveal {
    font-size: 6rem;
  }
  .btn-ready.reveal {
    margin-top: 270px;
  }
}

@media (max-width: 465px) {
  .btn-ready.reveal {
    margin-top: 330px;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 130px 0;
  background-color: #222222;
}

.header-subscribe {
  color: white;
  font-size: 3.5rem;
}

.header-subscribe span {
  color: #BAFF39;
}

form {
  display: flex;
  margin-top: 50px;
}

input {
  background-color: #222222;
  border: 2px solid white;
  color: white;
  font-size: 1.9rem;
  padding-bottom: 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 30px;
  width: 300px;
}

input#first-name {
  margin-left: 0;
}

input:focus {
  outline: none;
}

.btn-submit {
  padding: 12px 30px;
  font-size: 1.9rem;
  background-color: #BAFF39;
  color: black;
  border: none;
  margin-left: 4%;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: white;
}

@media (max-width: 1150px) {
  input {
    width: 25vw;
  }

  .btn-submit {
    font-size: 1.6rem;
  }
}

@media (max-width: 950px) {
  .subscribe {
    align-items: flex-start;
    padding: 60px 0;
  }

  .header-subscribe {
    margin-left: 30px;
  }
  
  form {
    flex-direction: column;
    margin-left: 30px;
    margin-top: 20px;
    gap: 15px;
  }

  input {
    margin-left: 0;
    width: 80vw;
  }

  .btn-submit {
    margin-left: 0;
    width: 140px;
  }
}

@media (max-width: 640px) {
  .header-subscribe {
    width: 60vw;
  }
}

@media (max-width: 511px) {
  .header-subscribe {
    width: 80vw;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  background-color:  #303030;
  height: 40vh;
}

.logo-container-footer {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 65px;
}

footer .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
}

footer .logo .header-nav {
  font-size: 7rem;
  color: white;
}

footer .logo span {
  color: #BAFF39;
}

footer .logo .slogan {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.8rem;
}

.para-copyright {
  color: white;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: "Eina", Helvetica, Arial, sans-serif;
  line-height: 32px;
}

.container-middle {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 95px;
}

.middle-element {
  font-size: 18px;
  color: white;
  font-family: "Eina", Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.middle-element:hover {
  color: #BAFF39;
}

.container-right {
  display: flex;
  align-items: flex-start;
  gap: 23px;
  height: 100%;
  align-self: flex-end;
  margin-right: 10%;
}

i {
    color: white;
    font-size: 35px;
    margin-top: 91px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .container-right {
    margin-right: 5%;
  }
  .logo-container-footer {
  margin-left: 5%;
}
}

@media (max-width: 810px) {
  footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
  }

  .logo-container-footer {
  margin-left: 0%;
}
  
  .container-right {
  margin-right: 0%;
    align-self: flex-start;
    margin-left: 20px;
}

  .container-middle {
    margin-top: 40px;
    margin-left: 20px;
  }

  .logo-container-footer {
    margin-top: 45px;
    margin-bottom: 78px;
}

  .para-copyright {
  margin-top: 50px;
}
}

@keyframes fadeTop {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.reveal {
      position: relative;
    }